<% include ../templates/header %>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="noticia_wrapper">
		    			<span class="noticia_autor">Por <%= noticia[0].autor %></span>
		    			<span class="noticia_titulo"><%= noticia[0].titulo %></span>
		    			<span class="noticia_data"><%= noticia[0].data_criacao %></span>
		    			<br />
		    			<p class="noticia_resumo">
		    				<%= noticia[0].noticia %>
		    			</p>
		    		</div>
		    	</div>
	    	</div>
	    </div>
	
<% include ../templates/footer %>